  body {
    padding-top: 90px;
  }

  section{
    padding: 30px 0;
  }

  .section-secondary{
    background: #f4f4f4;
    color: #black;
    padding-top: 60px 0;
  }

  .section-secondary img{
    border-radius: 50%;
  }

  .slogan{
    text-align: center;
  }

  .slogan h1{
    font-size: 50px;
    margin-bottom: 25px;
  }

  .slogan p{
    font-size: 20px;
    text-align: left;
  }

  .section-gray{
    background: #f4f4f4;
  }

  .nav{
    margin-top: 18px;
  }

  .navbar{
    min-height: 90px;
    margin-bottom: 0!important;
  }

  .navbar-brand{
    height: auto;
    padding-top: 15px;
    margin: 0;
  }

  .navbar-nav{
    margin: 0;
    padding: 0;
  }

  .navbar-nav li{
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .navbar-nav > li > a{
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
    border-right: 1px solid #ccc;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
  }

  .navbar-nav > li > a span{
    margin: 5px 0 0 0;
    padding: 0;
    font-size: 14px;
    display: block;
    font-weight: normal;
    font-family: arial;
    text-transform: none;
  }


  .navbar-nav a:hover,.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background: #f8f8f8!important;
    color: #4e192a !important;
  }

  .jumbotron{
    color: #fff;
    margin: 0 !important;
    min-height: 450px;
    background: url(../img/bg-sydney.jpg) no-repeat;
  }

  h1, h2, h3{
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
  }

  .jumbotron h1{
    font-size: 55px;
  }

  .fa-color{
    color: #FDC57A;
  }

  .feature-list li{
    list-style: none;
    font-size: 28px;
    line-height: 3em;
  }
  .hobby{
    margin-top: 120px;
    margin-left: 60px;
  }

  footer{
    color: white;
    text-align: center;
    height: 60px;
    background: #010100;
    padding-top: 20px;
  }
  .interests{
    color: black;
    background: #f4f4f4;
  }
  .image-tiles{
    margin-top: 10px;
  }
  .interests img{
    border-radius: 50%;
  }
  .languages{
    text-align: center;
    padding-top: 10px;
    background: #A43C25;
  }
  .projects{
    background: #A89AC5;
    text-align: center;
    padding-top: 10px;
  }
  .projects p{
    font-size: 20px;
  }
  .contact{
    color: white;
    text-align: center;
    background: #CC6699;
    font-size: 50px;
  }

  .contact1{
    font-size: 30px;
  }


  /*.imghov1:hover{
    -webkit-transform:scale(1.1); /*Webkit: Scale down image to 0.8x original size*/
    -moz-transform:scale(1.1); /*Mozilla scale version*/
    -o-transform:scale(1.1); /*Opera scale version*/
    -webkit-transition-duration: 0.5s; /*Webkit: Animation duration*/
    -moz-transition-duration: 0.5s; /*Mozilla duration version*/
    -o-transition-duration: 0.5s; /*Opera duration version*/
    opacity: 1; /*initial opacity of images*/
    margin: 0 10px 10px 0; /*margin between images*/
  }*/

  @media(max-width: 990px){
    .navbar-header{
      float:none;
    }
    .navbar-left, .navbar-right{
      float:none !important;
    }
    .navbar-toggle{
      display: block;
    }
    .navbar-collapse{
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);

    }
    .navbar-fixed-top{
      top: 0;
      border-width: 0 0 1px;
    }
    .navbar-collapse.collapse{
      display: none !important;
    }
    .navbar-nav{
      float: none;
      margin-top: 7.5px;
    }
    .navbar-nav > li {
      float: none;
    }
    .navbar-nav > li > a{
      padding-top: 10px;
      padding-bottom: 10px;
      border-right: none;
    }
    .collapse.in{
      display: block !important;
    }
  }

  @media(max-width: 850px){
    .jumbotron{
      min-height: 300px;
    }
    .jumbotron img{
      display: none;
    }
  }

  @media(max-width: 850px){
    .interests{
      min-height: 300px;
    }
    .interests img{
      display: none;
    }
  }

  @media(max-width: 850px){
    .section-secondary{
      min-height: 300px;
    }
    .section-secondary img{
      display: none;
    }
  }
